.cont{
  position: absolute;
  height: 680px;
  width: 420px;
  top: 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: black;
  overflow:auto;
}
.Output-panel{
  height: 20%;
  width: 100%;
  border-bottom:2px solid white;

}
.history{
  height: 50px;
  margin: 0;
  color: aliceblue;
  text-align: right;
}
#hist{
  font-size: 17px;
  margin-top: 44px;
  
}
#inp{
  font-size: 29px;
  margin-top: 45px;
  margin-bottom: 3px;
}
.output{
  height:60px;
  text-align: right;
  color: white;
  
  margin: 0;
}
.operator, .number, .empty{
	width: 70px;
	height: 70px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 22px;
    transition: 0.1s ease;
}
.operator:hover, .number:hover, .empty:hover{
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 18px;
}
.operator {
  background-color: burlywood;
}

@media screen and (max-width : 500px) {
    .cont{
      max-width: 100%;
      overflow:auto;
      
    }
    .operator, .number, .empty{
      width: 60px;
      height: 60px;
      margin: 15px;
      float: left;
      border-radius: 50%;
      border-width: 0;
      font-weight: bold;
      font-size: 16px;
        transition: 0.1s ease;
    }

}
@media screen and (max-width : 320px){
  .operator, .number, .empty{
    width: 40px;
    height: 40px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 16px;
      transition: 0.1s ease;
  }
}
